ACTASurveillanceProjects/ACTASurveillanceServiceWinClient/Service References/ServiceReference1/ACTASurveillanceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://ACTASurveillanceService" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://ACTASurveillanceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACTASurveillanceService/Imports">
      <xsd:import schemaLocation="http://localhost:44456/ACTASurveillanceService?xsd=xsd0" namespace="http://ACTASurveillanceService" />
      <xsd:import schemaLocation="http://localhost:44456/ACTASurveillanceService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44456/ACTASurveillanceService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IACTASurveillanceService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_GetCurrentOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentOwner" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_GetCurrentOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_GetServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IACTASurveillanceService_GetServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IACTASurveillanceService">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/Start" message="tns:IACTASurveillanceService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/StartResponse" message="tns:IACTASurveillanceService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/Stop" message="tns:IACTASurveillanceService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/StopResponse" message="tns:IACTASurveillanceService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentOwner">
      <wsdl:input wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/GetCurrentOwner" message="tns:IACTASurveillanceService_GetCurrentOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/GetCurrentOwnerResponse" message="tns:IACTASurveillanceService_GetCurrentOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/GetServiceStatus" message="tns:IACTASurveillanceService_GetServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://ACTASurveillanceService/IACTASurveillanceService/GetServiceStatusResponse" message="tns:IACTASurveillanceService_GetServiceStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>